.page{
    --black-color: rgb(0, 0, 0);
    --white-color: #FFFFFF;
    --gray-color: #545454;

    --section-indent-top: 45px;
    --section-indent-bottom: 60px;
    --section-indent-side: 199px;

    background: var(--black-color);
    color: var(--white-color);

    font-family: Inter, Helvetica, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    min-width: 320px;
}
