/*@keyframes popup_opened {*/
/*    0% {*/
/*        opacity: 0;*/
/*    }*/

/*    100% {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

.popup_opened{
    display: grid;
    visibility: visible;
    opacity: 1;
    /*animation: popup_opened .3s linear;*/
}
