.button_type_add{
    align-self: center;

    min-width: 150px;
    min-height: 50px;

    border: 2px solid var(--white-color);
    box-sizing: border-box;
    border-radius: 2px;

    background-image: url("../../../images/add-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.button_type_add:hover{
    background-image: url("../../../images/add-icon-hover.svg");
}

@media all and (max-width: 690px) {
    .button_type_add{
        width: 100%;
    }
}
