.profile__avatar{
    width: 120px;
    min-width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-image: url('../../../images/avatar.jpg');

    margin-right: 30px;
}

@media all and (max-width: 690px) {
    .profile__avatar{
        margin-right: 0;
        margin-bottom: 10px;
    }
}
